github "nerdyc/Squeal"
github "leoneparise/GoogleMaps-Carthage"
github "Vaberer/Font-Awesome-Swift"
git "https://github.com/victorlevasseur/SwiftClient.git"
github "ReactiveX/RxSwift" ~> 4.0
github "Alamofire/Alamofire"
